<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,85}</string>
                <key>spriteSourceSize</key>
                <string>{125,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,85}</string>
                <key>spriteSourceSize</key>
                <string>{125,85}</string>
                <key>textureRect</key>
                <string>{{128,1},{125,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,85}</string>
                <key>spriteSourceSize</key>
                <string>{125,85}</string>
                <key>textureRect</key>
                <string>{{255,1},{125,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{381,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231a4fb83f36a341a31d73e078780cb2:6bb5d688b5073676d668e9a45bbf5f29:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
