<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{77,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,198}</string>
                <key>textureRect</key>
                <string>{{1,363},{77,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{111,170}</string>
                <key>spriteSourceSize</key>
                <string>{125,186}</string>
                <key>textureRect</key>
                <string>{{80,433},{111,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{109,187}</string>
                <key>spriteSourceSize</key>
                <string>{119,197}</string>
                <key>textureRect</key>
                <string>{{1,174},{109,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{126,171}</string>
                <key>spriteSourceSize</key>
                <string>{136,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{122,139}</string>
                <key>spriteSourceSize</key>
                <string>{136,151}</string>
                <key>textureRect</key>
                <string>{{1,1279},{122,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{153,135}</string>
                <key>spriteSourceSize</key>
                <string>{175,145}</string>
                <key>textureRect</key>
                <string>{{1,551},{153,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{126,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,144}</string>
                <key>textureRect</key>
                <string>{{129,1},{126,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{141,155}</string>
                <key>textureRect</key>
                <string>{{112,174},{135,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{151,134}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{1,706},{151,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{82,139}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{122,1420},{82,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{95,142}</string>
                <key>spriteSourceSize</key>
                <string>{99,144}</string>
                <key>textureRect</key>
                <string>{{138,991},{95,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{148,140}</string>
                <key>textureRect</key>
                <string>{{1,1143},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,138}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{1,1561},{90,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{100,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,151}</string>
                <key>textureRect</key>
                <string>{{138,546},{100,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{138,135}</string>
                <key>spriteSourceSize</key>
                <string>{142,143}</string>
                <key>textureRect</key>
                <string>{{1,1003},{138,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{126,150}</string>
                <key>textureRect</key>
                <string>{{137,706},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,142}</string>
                <key>spriteSourceSize</key>
                <string>{139,144}</string>
                <key>textureRect</key>
                <string>{{1,859},{131,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reborn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,194}</string>
                <key>spriteSourceSize</key>
                <string>{52,200}</string>
                <key>textureRect</key>
                <string>{{206,1412},{34,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reborn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{91,118}</string>
                <key>spriteSourceSize</key>
                <string>{101,138}</string>
                <key>textureRect</key>
                <string>{{137,1143},{91,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reborn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,148}</string>
                <key>textureRect</key>
                <string>{{134,859},{121,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reborn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{120,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,143}</string>
                <key>textureRect</key>
                <string>{{125,1279},{120,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{119,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,157}</string>
                <key>textureRect</key>
                <string>{{1,1420},{119,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,143}</string>
                <key>spriteSourceSize</key>
                <string>{130,157}</string>
                <key>textureRect</key>
                <string>{{112,311},{120,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rockman.png</string>
            <key>size</key>
            <string>{256,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a7fb71ff018349e0893bf2afe4ddebf:6d7276a6e11a11bab7f1b63ad0949ba9:fb839625cf8efbad297a52b4c8f3ccd3$</string>
            <key>textureFileName</key>
            <string>rockman.png</string>
        </dict>
    </dict>
</plist>
